@page
@model IF.Manager.ClassDesigner.Pages.Control.ClassChildFormModel


@{
    Layout = "_ModalLayout";
}


<div class="row">
    <div class="col-md-12">


        <form class="form-inline">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-striped table-sm" id="EmptyFormItem">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>                                
                                <th>IsNullable</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.Form.Count; i++)
                        {
                            await Html.RenderPartialAsync("_ClassChildFormItem", Model.Form[i]);
                        }

                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <a class="btn btn-primary"
                       href="@Url.Page("/Control/ClassChildForm","EmptyFormItemPartial")"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="after"
                       if-ajax-update-id="EmptyFormItem">
                        +
                    </a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary"
                            if-ajax-action="@Url.Page("/Control/ClassChildForm","AddClassProperty")"
                            if-ajax-form-submit="true"
                            if-ajax-method="post"
                            if-ajax-close-modal-on-success="true"
                            if-ajax-on-success-refresh="true"
                            if-ajax-update-id="ClassTreeListModal"
                            >
                        Kaydet
                    </button>
                </div>
            </div>



            @Html.HiddenFor(m => m.ParentId)
        </form>



    </div>
</div>