@*@{

    @using IF.Manager.Service.Enum;
    @model IF.Manager.Service.Model.IFClassMapper
    Layout = "";



    IFClassType viewDataType = ViewData["ClassType"] as IFClassType;

    switch (viewDataType)
    {
        case IF.Manager.Service.Enum.IFClassType.Class:
            break;
        case IF.Manager.Service.Enum.IFClassType.Model:
            break;
        default:
            break;
    }



    List<SelectListItem> classes = ViewData["classes"] as List<SelectListItem>;


    @if (Model != null)
        {
            foreach (var property in classes)
            {
                if (property.Value == Model.ToClassId.ToString())
                {
                    property.Selected = true;
                }
            }
        }
    }

}

<div class="col-md-6">
    <div class="form-group">
        <label for="ToClassId">To Class</label>
        @Html.DropDownList($"Form.ToClassId", classes, "Select", new { @class = "form-control" })
    </div>
</div>*@

