@page
@model IF.Manager.Entity.Pages.Properties.FormModel


@{
    Layout = "_ModalLayout";
}


<div class="row">
    <div class="col-md-12">


        <form class="form-inline">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-striped table-sm" id="EmptyFormItem">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>                                
                                <th>NullAble</th>
                                <th>IsMultiLanguage</th>
                                <th>IsAudited</th>
                                <th>Max Value</th>
                                <th>IsIdentity</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.Form.Count; i++)
                        {
                            await Html.RenderPartialAsync("_FormItem", Model.Form[i]);
                        }

                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <a class="btn btn-primary"
                       href="@Url.Page("/Properties/Form","EmptyFormItemPartial")"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="after"
                       if-ajax-update-id="EmptyFormItem"
                       id="AddPropertyButton">
                        +
                    </a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary"
                            if-ajax-action="@Url.Page("/Properties/Form")"
                            if-ajax-form-submit="true"
                            if-ajax-method="post"
                            if-ajax-close-modal-on-success="true"
                            if-ajax-on-success-refresh="true"
                            if-ajax-update-id="EntityListDiv"
                            id="SavePropertiesButton"
                            >
                        Kaydet
                    </button>
                </div>
            </div>



            @Html.HiddenFor(m => m.EntityId)
        </form>



    </div>
</div>