@page
@model IF.Manager.Project.Pages.Solution.SolutionIndexModel



<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success"
           href="@Url.Page("/Project/Solution/SolutionForm","Add")"
           if-ajax="true"
           if-ajax-method="get"
           if-ajax-insertion-mode="replace"
           if-ajax-show-dialog="true"
           id="SolutionAddButton"
           if-ajax-modal-id="@Guid.NewGuid()">
            Add Solution
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div id="SolutionListDiv" class="col-md-12">
        @{await Html.RenderPartialAsync("_SolutionListTable", Model.SolutionList);}
    </div>
</div>
