@*@page
@model IF.Manager.Page.Pages.Form.DropDown.DropDownFormModel


@{
    Layout = "_ModalLayout";
    List<SelectListItem> queries = ViewData["queries"] as List<SelectListItem>;
}

<form>
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="QueryId">Query</label>
                @Html.DropDownList("Form.QueryId", queries, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"
                    @{ var handler = "Add"; if (this.Model.Form.Id > 0) { handler = "Update"; } }
                    if-ajax-action="@Url.Page("/Grid/GridForm",handler)"
                    if-ajax-form-submit="true"
                    if-ajax-method="post"
                    if-ajax-close-modal-on-success="true"
                    if-ajax-update-id="GridListDiv">
                Save
            </button>
        </div>
    </div>
    @Html.HiddenFor(model => model.Form.Id)
</form>*@


