@model IF.Manager.Contracts.Dto.EntityRelationDto

@{
    Layout = "";

    List<SelectListItem> properties = ViewData["properties"] as List<SelectListItem>;

    foreach (var property in properties)
    {
        if (Model.ForeignKeyPropertyId.HasValue)
        {
            if (property.Value == Model.ForeignKeyPropertyId.ToString())
            {
                property.Selected = true;
            }
        }
    }
}



    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.DropDownList($"Form[{Model.Index}].ForeignKeyPropertyId", properties, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

   
