@page "/entity/index"

<MudButton Class="my-5" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">Add</MudButton>
<MudDivider></MudDivider>






<IFExpansionList Items="@EntityList">

    <Title>
        @context.GroupName
    </Title>
    <Data>
        @context.Name

    </Data>
</IFExpansionList>

    





