@page
@model IF.Manager.Model.Pages.ModelListIndexModel
@{
}


<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success"
           href="@Url.Page("/Model/ModelForm","Add")"
           if-ajax="true"
           if-ajax-method="get"
           if-ajax-insertion-mode="replace"
           if-ajax-show-dialog="true"
           if-ajax-modal-id="@Guid.NewGuid()">
            Add
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div id="ModelListDiv" class="col-md-12">
        @{await Html.RenderPartialAsync("_ModelListTable", Model.ModelList);}
    </div>
</div>
